{{- define "SumiMakito_Journal/categories" -}}
{{template "SumiMakito_Journal/layout/_include/head.ftl" .}}
{{template "SumiMakito_Journal/layout/_include/container_head" .}}
{{template "SumiMakito_Journal/layout/_include/single_column_head" .}}
{{template "SumiMakito_Journal/layout/_include/side_nav" .}}
{{/* extraContainer没啥用，没他页面报错，有页面引用他 */}}
<div ref="extraContainer" class="extra-container"></div>
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            分类
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{$categories:=listCategory}}
        {{range $category:=$categories}}
            <a href="{{$category.FullPath}}" class="a-block">
                <div class="post-item-wrapper">
                    <div class="post-item post-item-no-gaps">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title">
                                {{$category.Name}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {{end}}
    </div>
    {{template "SumiMakito_Journal/single_column_footer" .}}
</div>

{{template "SumiMakito_Journal/layout/_include/container_tail" .}}
{{template "SumiMakito_Journal/layout/_include/tail" .}}
{{- end -}}