{{- define "SumiMakito_Journal/journals" -}}
{{template "SumiMakito_Journal/layout/_include/head.ftl" .}}
{{template "SumiMakito_Journal/layout/_include/container_head" .}}
{{template "SumiMakito_Journal/layout/_include/single_column_head" .}}
{{template "SumiMakito_Journal/layout/_include/side_nav" .}}
{{/* extraContainer没啥用，没他页面报错，有页面引用他 */}}
<div ref="extraContainer" class="extra-container"></div>
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            <div class="post-head-wrapper-text-only"
                 style="background-image: url('')">
                <div class="post-title">
                    Journals
                </div>
            </div>

            <div class="post-body-wrapper">
                <div class="post-body">
<pre>
[
{{range $idx, $journal :=.journals.Content}}
{{$len := len .journals.Content}}
{
    id: {{$journal.ID}},
    createTime: "{{unix_milli_time_format  "2006-01-02 03:04" $journal.CreateTime}}",
    content: "{{noescape $journal.Content}}"
    {{if (lt (add $idx 1) $len)}}
},
{{else}}
}
{{end}}
{{end}}
]
</pre>
                </div>
            </div>
        </div>
    </div>
    {{template "SumiMakito_Journal/single_column_footer" .}}
</div>

{{template "SumiMakito_Journal/layout/_include/container_tail" .}}
{{template "SumiMakito_Journal/layout/_include/tail" .}}
{{- end -}}