{{- define "SumiMakito_Journal/journals" -}}
{{template "SumiMakito_Journal/layout/_include/head.ftl" .}}
{{template "SumiMakito_Journal/layout/_include/container_head" .}}
{{template "SumiMakito_Journal/layout/_include/single_column_head" .}}
{{template "SumiMakito_Journal/layout/_include/side_nav" .}}
<div ref="extraContainer" class="extra-container">
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top"
           :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        {{$pagination:=(journalsPagination .journals.PageNum .journals.Pages 3)}}
        <div class="pagination index-page">
            {{if $pagination.HasPrev}}
                <a class="pagination-action" href="{{$pagination.PrevPageFullPath}}" style="opacity: 1;">
                    <i class="material-icons pagination-action-icon">
                        chevron_left
                    </i>
                </a>
            {{end}}
            <div class="pagination-indicator">
                <span style="text-align: center">
                    {{add .journals.PageNum 1}}<br><div
                            style="display: inline-block; transform: rotate(-28deg)">-</div><br>{{ .journals.Pages}}
                </span>
            </div>
            {{if $pagination.HasNext}}
                <a href="{{$pagination.NextPageFullPath}}" class="pagination-action" style="opacity: 1;">
                    <i class="material-icons pagination-action-icon">
                        chevron_right
                    </i>
                </a>
            {{end}}
        </div>
    </div>
</div>
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            <div class="post-head-wrapper-text-only"
                 style="background-image: url('')">
                <div class="post-title">
                    Journals
                </div>
            </div>

            <div class="post-body-wrapper">
                <div class="post-body">

{{$len := len .journals.Content}}                
<pre>
[
{{range $idx, $journal :=.journals.Content}}
    {
        id: {{$journal.ID}},
        createTime: "{{unix_milli_time_format  "2006-01-02 03:04" $journal.CreateTime}}",
        content: "{{noescape $journal.Content}}"
{{- if (lt (add $idx 1) $len)}}
    },
{{- else -}}
    }
{{end}}
{{- end -}}
]
</pre>
                </div>
            </div>
        </div>
    </div>
    {{template "SumiMakito_Journal/single_column_footer" .}}
</div>

{{template "SumiMakito_Journal/layout/_include/container_tail" .}}
{{template "SumiMakito_Journal/layout/_include/tail" .}}
{{- end -}}