{{- define "SumiMakito_Journal/sheet" -}}
{{template "SumiMakito_Journal/layout/_include/head.ftl" .}}
{{template "SumiMakito_Journal/layout/_include/container_head" .}}
{{template "SumiMakito_Journal/layout/_include/single_column_head" .}}
{{template "SumiMakito_Journal/layout/_include/side_nav" .}}
<div ref="extraContainer" class="extra-container">
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top"
           :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
    </div>
</div>
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            <div {{if .post.Thumbnail}}class="post-head-wrapper"{{else}}class="post-head-wrapper-text-only"{{end}}
                 style="background-image: url('{{.sheet.Thumbnail}}')">
                <div class="post-title">
                    {{.sheet.Title}}
                    <div class="post-meta">
                        <time datetime="{{.sheet.CreateTime}}" itemprop="datePublished">
                            {{unix_milli_time_format "2006-01-02 15:04:05" .sheet.CreateTime}}
                        </time>
                    </div>
                </div>
            </div>

            <div class="post-body-wrapper">
                <div class="post-body">
                    {{noescape .sheet.Content}}
                </div>
            </div>

            {{template "SumiMakito_Journal/layout/_include/comment_templates" .}}
        </div>
    </div>
    {{template "SumiMakito_Journal/single_column_footer" .}}
</div>

{{template "SumiMakito_Journal/layout/_include/container_tail" .}}
{{if .sheet.DisallowComment}}
    {{template "SumiMakito_Journal/layout/_include/comment_includes" .}}
{{end}}
{{template "SumiMakito_Journal/layout/_include/tail" .}}
{{end}}