{{- define "SumiMakito_Journal/layout/_include/comment_includes" -}}
<script src="{{or .options.comment_internal_plugin_js "cdn.jsdelivr.net/gh/halo-dev/halo-comment@latest/dist/halo-comment.min.js"}}"></script>
{{- end -}}
