{{- define "SumiMakito_Journal/layout/_include/single_column_head" -}}
<div class="single-column-drawer-container" ref="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            {{ $menus:=(listMenu)}}
            {{range $menu:=$menus}}
                <a class="a-block drawer-menu-item" href="{{$menu.URL}}" target="{{$menu.Target}}">
                    {{$menu.Name}}
                </a>
            {{end}}

            {{if .settings.sidebar_rss}}
                <a class="a-block drawer-menu-item" href="{{ .atom_url}}">
                    RSS
                </a>
            {{end}}
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="{{ .blog_url}}">
            {{ .blog_title}}
        </a>
    </div>
</nav>
<div class="single-column-header-container" ref="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="{{ .blog_url}}">
        <div class="single-column-header-title">{{ .blog_title}}</div>
        <div class="single-column-header-subtitle">{{ .user.Description}}</div>
    </a>
</div>
{{- end -}}
